h1 {
    color: #208ae6;
    font-size: 200%;
    font-family: didot;
}

p {
    color: #e62054;
    font-size: 120%;
    font-family: didot;}
body {
    background-color: #e6cc20;
}

li {
    color: #208ae6;
    font-family: didot;
}
